.profile__input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 480px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .profile__input-container {
    max-width: calc(100% - 46px * 2);
    margin: 0;
  }
}
